html, body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: white;
}

#content {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: darkblue;
}

#layout-sections {
    height: 100%;
    display: grid;
    grid-template-areas:
        "title  timelines   timelines"
        "score  score   annotations"
        "score  score   transport"
        "score  score   video-player";
    gap: 10px;
    grid-template-columns: 300px auto 600px;
    grid-template-rows: 1fr 1fr 1fr 2fr;
}

@media (max-width: 800px) {
    #content {
        position: relative;
    }
    #layout-sections {
        grid-template-areas:
        "title"
        "timelines"
        "score"
        "annotations"
        "transport"
        "video-player";
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .score-page-image {
        width: 100%;
    }
}

.section {
    border-radius: 20px;
    background-color: black;
    padding: 10px;
}

#title-section {
    grid-area: title;
}

#timelines-section {
    grid-area: timelines;
    }

#score-viewer-section {
    grid-area: score;
    display: flex;
    justify-content: center;

}

#annotations-section {
    grid-area: annotations;
}

#video-player {
    grid-area: video-player;
}

#transport-section {
    grid-area: transport;
}

.score-page-image {
    max-width: 500px;
    max-height: 100%;
}

#position-text p {
    color: white;
    display: inline;
}

.timeline {

}

.timeline-button {
    height: 30px;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

.timeline-button:hover {
    background-color: lightgray;
}

.annotation {
    background:lightgrey;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
}

.scroller-area {
    max-height: 250px;
    overflow: scroll;
}