body {
    background: darkblue;
}

h1, h2 {
    color: white;
}

#layout-sections {
    display: grid;
    grid-template-areas:
        "title  timelines   timelines"
        "score  score   annotations"
        "score  score   transport"
        "score  score   video-player";
    gap: 10px;
}

.section {
    border-radius: 20px;
    background-color: black;
}

#title-section {
    grid-area: title;
}

#timelines-section {
    grid-area: timelines;
}

#score-viewer-section {
    grid-area: score;
}

#annotations-section {
    grid-area: annotations;
}

#video-player {
    grid-area: video-player;
}

#transport-section {
    grid-area: transport;
}

.score-page-image {
    max-width: 500px;
}

#position-text p {
    color: white;
    display: inline;
}

.timeline {

}

.timeline-button {
    height: 30px;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}